body {
}
/* Centering the content */
#ContentPlaceHolder1 {
    text-align: center;
}

/* Style for dropdown lists */
#DropDownListPol, #DropDownListVrsta, #DropDownListBrend {
    padding: 10px; /* Adjust padding as needed */
    margin: 10px; /* Adjust margin as needed */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #f9f9f9; /* Background color */
    font-size: 16px; /* Font size */
    width: 200px; /* Set width as desired */
}
/* GridView Styling */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
#Btn_Zavrsi {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
